body
{
	background-color: black;
	text-align: center;
}

#main
{
	width: 1000px;
	height: 600px;
	margin: 25px auto;
	color: white;
}

h1 
{
	color: white;
}

p
{
	color: white;
	font-family: arial;
}

